<h1>HOLA!!!!!</h1>
<p>Contacta conmigo en KiK y te ayudaré a encontrar un parking libre. Escanea con tu KiK App este código:</p>

<img src="welcome_kik_code.png" width="480" height="480">

<p>Si no tiene KiK en tu móvil, te lo puedes instalar aquí: <a href="https://www.kik.com" target="_blank"> https://www.kik.com/</a></p>